.main {
    width: 700px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    height: 200px;
    width: 200px;
    background-color: rebeccapurple;
    border: 2px;
}