<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <h1>Guess a number between 1 and 100</h1>
    <form action="/check" method="post">
        <label for='guess'>Your guess:</label>
        <input type='text' name='guess'>
        <input type='submit' value='Check'>
    </form>
    {% if session['ran'] == session['choice'] %}
    <h1>YOU WIN</h1>
    <p>The number is: {{session['ran']}}</p>
    <button><a href="/reset">Play Again</a></button>
    {% endif %}
    {% if session['ran'] < session['choice'] %}
    <h1>Too High! Try again</h1>
    {% endif %}
    {% if (session['ran'] > session['choice']) and (session['choice']!=0) %}
    <h1>Too Low! Try again</h1>
    {% endif %}
    <!-- <p>{{session['ran']}}</p>
    <p>{{session['choice']}}</p> -->
    
</body>
</html>